<launch>
    <!--We resume the logic in empty.launch, changing only the name of the world
    to be launched-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find my_rgbd_gazebo)/worlds/wall_world.world"/>
        <!--more default paramteres can be changed here-->
    </include>

    <!--launch rviz-->
    <node name="rviz" pkg="rviz" type="rviz" respawn="false"/>
</launch>